// common start 
* {
    margin: 0;
    padding: 0;
}

.container {
    max-width: 1313px;
    margin: 0 auto;
}

ol,
ul {
    padding-left: 0;
    li {
        list-style: none;
        a {
            text-decoration: none;
            color: #FFFFFF;
        }
    }
}

h1 {
    color: #FFFFFF;
    font-size: 56px;
    font-weight: 700;
    line-height: 72px;
}

h2 {
    font-weight: 700;
    font-size: 40px;
    line-height: 52px;
    color: #012665;
}

h3 {
    padding: 25px 0 0;
    font-size: 28px;
    font-weight: 700;
    line-height: 36px;
    color: #012665;
    &:hover {
        color: #FF5400;
    }
}

span {
    padding: 38px 0;
    font-size: 16px;
    font-weight: 500;
    color: #012665;
}

p {
    font-size: 16px;
    font-weight: 300;
    line-height: 25px;
    color: #012665;
}

.content {
    padding: 35px 25px;
}

// common end
// header start 
.main-header {
    height: 316px;
    line-height: 120px;
    background-color: #013183;
    background-image: url(../assets/images/header-bg.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.logo {
    img {
        max-width: 270px;
        height: 56px;
    }
}

.main-menu {
    ul {
        display: flex;
        column-gap: 60px;
        justify-content: center;
        a {
            color: #FFFFFF;
            font-size: 16px;
            font-weight: 500;
            &:hover {
                color: #FF5400;
            }
        }
    }
}

.main-header-btn {
    width: 221px;
    height: 50px;
    color: #FFFFFF;
    font-size: 16px;
    font-weight: 500;
    line-height: 35px;
    transition: all 0.3s;
    background-color: #FF5400;
    &:hover {
        color: #FF5400;
    }
}

.search {
    select {
        padding: 30px 35px;
        color: #012665;
    }
    input {
        width: 84%;
        height: 86px;
        background: #244c8d;
        border: #ccd4e0;
    }
}

.right-search {
    select {
        padding: 30px 80px;
        color: #FFFFFF;
        background-color: transparent;
    }
}

// header end
.tob-menu {
    padding: 80px 0 42px;
    ul {
        display: flex;
        column-gap: 26px;
        justify-content: flex-start;
        li {
            a {
                font-size: 16px;
                font-weight: 500;
                line-height: 22px;
                padding: 16px 40px;
                color: #013183;
                background-color: #F7F7F7;
                border-radius: 4px;
                transition: all 0.3s;
                &.active {
                    background-color: #013183;
                    color: #FFFFFF;
                    border-radius: 4px;
                }
                &:hover {
                    background-color: #013183;
                    color: #FFFFFF;
                    border-radius: 4px;
                }
            }
        }
    }
}

// tab end
.cards {
    background-color: #F7F7F7;
    border-radius: 5px;
    &:hover {
        background-color: #FFFFFF;
        border-radius: 5px;
    }
    .cards-img {
        position: relative;
        .star-icon {
            left: 16px;
            top: 16px;
            width: 97px;
            height: 40px;
            padding: 12px 20px;
            line-height: 16px;
            background-color: #fff;
            position: absolute;
            border-radius: 52px;
            font-size: 14px;
            text-align: center;
            span {
                color: #012665;
                font-weight: 500;
            }
            i {
                color: #FF5400;
            }
        }
        .price {
            background-color: #FF5400;
            position: absolute;
            bottom: -45px;
            right: 32px;
            width: 90px;
            height: 90px;
            border-radius: 50%;
            text-align: center;
            line-height: 90px;
            span {
                color: #FFFFFF;
                font-size: 28px;
                font-weight: 700;
            }
        }
    }
}

// course start 
.course {
    padding-top: 72px;
}

.course-content {
    padding-bottom: 24px;
    margin-bottom: 40px;
    border-bottom: 1px solid #ccd4e0;
    // row-gap: 30px;
    display: flex;
    .see-all {
        width: 147px;
        height: 52px;
        padding: 12px 24px;
        background-color: #f7f7f7;
        border-radius: 4px;
        font-size: 20px;
        color: #013183;
        font-weight: 700;
        transition: all 0.3s;
        text-decoration: none;
        justify-content: end;
        &:hover {
            color: #FF5400;
        }
    }
}

// learning start
.learning-area {
    padding-top: 72px;
    .learning-content {
        background-color: #693FD7;
        background-image: url(../assets/images/learning-bg.png);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        border-radius: 12px 0 0 12px;
        padding: 78px 69px;
        p {
            font-weight: 500;
            font-size: 20px;
            line-height: 34px;
            color: #FFFFFF;
        }
    }
}

// learning end
// think out start
.think-out {
    background-image: linear-gradient(#012665, rgba(0, 0, 0, 0)), url(../assets/images/think-out-img.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: 73px;
    .think-content {
        padding: 112px 332px;
        text-align: center;
        p {
            font-weight: 500;
            font-size: 20px;
            line-height: 34px;
            color: #FFFFFF;
        }
    }
}

// think out end
// footer start
.footer-area {
    background-color: #013183;
    background-image: url(../assets/images/footer-bg.png);
    .footer-widget {
        padding: 80px 50px;
        color: #FFFFFF;
        p {
            line-height: 30px;
            color: #FFFFFF;
        }
        .footer-logo {
            padding-bottom: 27px;
        }
        .footer-icon {
            margin-top: 30px;
            ul {
                gap: 25px
            }
            a {
                display: flex;
                justify-content: center;
                align-items: center;
                width: 50px;
                height: 50px;
                font-size: 20px;
                border-radius: 50%;
                background-color: #244c8d;
                transition: all 0.2s;
                &:hover {
                    background-color: #fff;
                    color: #FF5400;
                }
            }
        }
        .footer-title {
            padding: 23px 0;
        }
        .footer-links {
            // padding-bottom: 27px;
            line-height: 40px;
        }
    }
    .footer-contact {
        display: flex;
        align-items: center;
        gap: 15px;
        font-size: 20px;
        font-weight: 300;
        cursor: pointer;
    }
}

// copyright
.footer-copyright {
    background-color: #012665;
    padding: 23px 0;
    p {
        color: #fff;
        // font-size: 20px;
        // line-height: 40px;
        padding-top: 10px;
    }
}

// footer start